@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f0f9ff;
    border-radius: 5px;
    
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #38bdf8;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0284c7;
}
  
  